body {
  font-family: 'Muli', Verdana, sans-serif;
  color: #111;
  max-width: 1000px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', 'Muli', Verdana, sans-serif;
}

a {
  color: #777;
}

a:visited {
  color: #555;
}

ul li {
  margin-bottom: 10px;
}


.sidebar.rhs {
  float: right;
  clear: right;
  width: 200px;
  margin-left: 50px;
}

.sidebar img {
  max-width: 100%;
}

.sidebar .caption {
  color: #333;
  font-size: 10px;
}